<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>GET IT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- favicon - https://realfavicongenerator.net -->
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link rel="manifest" href="images/site.webmanifest">
    <link rel="mask-icon" href="images/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="images/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="images/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- fonts / icons / css -->
    <link href="https://fonts.googleapis.com/css?family=Kreon:700|Hind" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="css/app.min.css">
</head>
<body>
<nav class="navbar fixed-top">
    <span class="navbar-brand">GET IT</span>
    <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#addItemModal" title="Add Item">
        <i class="fas fa-plus"></i> ADD IT
    </button>
</nav>
<div id="app" class="container-fluid">
    <div class="row header">
        <div class="col text-center">
            <!-- image borrowed for education purposes only -->
            <!-- source: https://www.grammarly.com/blog/get-it-vs-got-it-difference/ -->
            <img src="images/get-it.gif" class="img-fluid get-it-img">
        </div>
    </div>

    <div class="row get-it-lists">
        <div class="col-md-4 p-0">
            <list name="Need It" v-bind:items="needList" @remove-item="removeIt"></list>
        </div>
        <div class="col-md-4 p-0">
            <list name="Got It" v-bind:items="gotList" @remove-item="removeIt"></list>
        </div>
        <div class="col-md-4 p-0">
            <!--if you want to write shorthand, you just do the : without the word bind. Vue knows what that means-->
            <list name="Want It" :items="wantList" @remove-item="removeIt"></list>
        </div>
    </div>

    <div class="modal fade" id="addItemModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form>
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTitle">Add Item</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input id="name" v-model="newItem.name" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="qty">Quantity</label>
                            <input id="qty" v-model="newItem.qty" type="number" class="form-control" size="3">
                        </div>
                        <div class="form-group">
                            <label for="category">Category</label>
                            <select id="category" v-model="newItem.category" class="form-control">
                                <option value="need">Need</option>
                                <option value="want">Want</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Nevermind</button>
                        <!--@ sign is the shortcut for the v-on bc its so popular aka @click-->
                        <!--.prevent prevents the pre-click issues, this is a modifier-->
                        <button type="submit" class="btn btn-primary" v-on:click.prevent="addIt">Add It</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<footer class="d-sm-flex justify-content-between text-light bg-dark">
    <p class="text-center slogan"><em>Whether you <span class="it">NEED IT</span> or <span class="it">WANT IT</span>,<br class="d-sm-none"> we <span class="it">GOT IT</span> covered! &trade;</em></p>
    <p class="text-center like-it"><button class="btn btn-outline-primary"><i class="far fa-thumbs-up"></i>Like It</button></p>
</footer>

<!-- Bootstrap -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script>
    $(document).ready(function(){
        // set focus to name field when modal is opened
        $('#addItemModal').on('shown.bs.modal', function () {
            $('#name').focus();
        });
    });
</script>

<!-- Vue Application -->
<!--app components and app-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.7/vue.js"></script>
<script src="js/app-components.js"></script>
<script src="js/app.js"></script>

</body>
</html>